.shopcategory-banner{
    display: block;
    margin: 30px auto;
    width: 60%;
}
.shopcategory-products{
    padding-left: 180px;
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 80px;
}